.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.logo {
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listbuttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.listbuttons a {
  text-decoration: none;
  padding: 1rem;
  color: #b1b1b1;
  font-weight: bold;
  font-size: 1rem;
}

.selected {
  position: relative;
}

.selected::after {
  content: "";
  position: absolute;
  left: 1.2rem;
  right: 1.2rem;
  bottom: -0.4rem;
  border-bottom: 3px solid #b1b1b1; /* Cambia esto al color que prefieras */
}
