.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.logo{

}

.listbuttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.listbuttons a {
    text-decoration: none;
    padding: 1rem;
}